body{
  background-color: #7FA58D;
  color: white;

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
  }

  .navbar {
    background-color: rgb(231, 231, 231);
  }
  .form {
    background-color: rgba(238, 238, 238, 0.27);
    border-radius: 10px;
    padding: 20px;
    color: white;
    letter-spacing: 1px;
    padding-bottom: 50px;
  }
  input.ng-invalid {
    border: 2px solid lighten(red, 20%);
  }
}

