.row
  .col-xs-6
    h2.text-center Tasks
  .col.xs-6

.row
  .col-xs-4
    form.form(name='tasksForm', role='form', novalidate)
      .form-group
        label(for='name') Name
        input.form-control#name(type='text', name='name', ng-model='task.name', required, autofocus, ng-minlength='3')
      .form-group
        label(for='due') Due
        input.form-control#due(type='date', name='due', ng-model='task.due', required)
      .form-group
        label(for='priorityId') Priority
        select.form-control(name='priorityId', ng-model='task.priorityId', ng-options='p._id as p.name for p in priorities', required)
          option(value='') Select Priority
      button.btn.btn-primary.pull-right(ng-show='tasksForm.$valid', ng-click='add()') Add Task
  .col-xs-8
   .panel.panel-default
      .panel-body
        .form-group
          label(for='sort') Sort
          select.form-control(name='sort', ng-model='sort')
            option(value='name') Name Ascending
            option(value='-name') Name Descending
            option(value='due') Due Ascending
            option(value='-due') Due Descending
            option(value='priority.name') Priority Ascending
            option(value='-priority.name') Priority Descending
    table.table.tasks
      thead
        th Complete?
        th Name
        th Due
        th Priority
      tbody
        tr(ng-repeat='t in tasks | orderBy:sort', ng-class='{complete:t.isComplete}' style='background-color:{{t.priority.color}};')
          td
            .checkbox-inline
              input(type='checkbox', ng-model='t.isComplete')
          td {{t.name}}
          td {{t.due}}
          td {{t.priority}}

