.row
  .col-xs-6
    h2 Priorities
  .col.xs-6
    h3 Priority Name
.row
  .col-xs-4
    form.form(name='prioritiesForm', role='form', novalidate)
      .form-group
        label(for='name') Name
        input.form-control(type='text', name='name', ng-model='priority.name', required, autofocus, ng-minlength='3')
      .form-group
        label(for='color') Color
        input.form-control(type='color', name='color', ng-model='priority.color', required, value='red')
      button.btn.btn-primary.pull-right(ng-show='prioritiesForm.$valid', ng-click='add()') Set Priority
  .col-xs-2
  .col-xs-6
